body{
    background-color: white;
}

.navbarleft{

    position:relative;
    top:0;
    left:0;
    font-size: small;
    padding: 5px;

}



.navbarleft1{

    padding-right: 20px;
    color: black;
    text-decoration: none;


}



.navbarleft2{

    padding-right: 20px;
    color: black;
    text-decoration: none;


}

.navbarright{

    position:absolute;
    top:0;
    right:0;
    font-size: small;
    padding-right: 5px;


}

.navbarright1{

    padding-right: 20px;
    color: black;
    text-decoration: none;
    

}

.navbarright2{

    padding-right: 20px;
    color: black;
    text-decoration: none;

}

.central{

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input[type="submit"] {
    border-radius: px !important;
    background: #f2f2f2;
    border: 1px solid #f2f2f2 !important;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height:36px;
    
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.logo img{
   margin-left: 100px;
   padding: 0px;

}


.botones button{
    height: 30px;
    width: 155px;
    margin: 10px;
    border: none;
    box-shadow: none;
    background: rgba(240, 237, 237, 0.836);
    border-radius: 8%;
}

button:hover {
    border: solid 1px rgb(32, 31, 31);
}

.botones1{
    position: relative;
    left: 80px;
    

}

.botones2{
    position: relative;
    left: 100px;
}